body{
	font-family: 'Allerta', sans-serif;
	overflow: hidden;
}


.container{
	width: 50%;
}

.modal-content a {
	color: rgba(182, 78, 56, 1) !important;
}

.modal-content a:hover {
	color: rgba(182, 78, 56, .6) !important;
}

table{
	background-color: #fff;
	text-align: center;
	font-weight: 900;
	margin-top: 50px;
}

nav .brand-logo {
	padding-left: 20px;
}

td{
	background-color: #507f7f55;
	padding-top: 0;
	text-align: center;
	vertical-align: middle !important;
	width: 15%;
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #fff;
	font-size: 70px;
	margin: 3px;
}

.adjust {
	padding-left: 10px;
}

tr{
	padding: 0;
	border-bottom: 0 solid transparent;
}


.time, .score{
	padding-left: 15px;
	padding-right: 15px;
}

.primary {
	background-color: rgba(182, 78, 56, 1) !important;
	color: #f7f7f7 !important;
}

.secondary {
	background-color: #507f7f !important;
	color: #f7f7f7 !important;
}

.thirth {
	background-color: rgba(182, 78, 56, .5);
}

.active {
	background-color: #507f7f;
}

.current {
	box-shadow: 0 0 15px 8px #fff inset;
	background-color: rgba(182, 78, 56, 1) !important;
}

li a{
	height: 64px !important;
}

.center button i{
	vertical-align: middle;
}

/* icons */
.material-icons{
	display: inline-block !important;
}

.lbl{
	padding: 2px;
	border-radius: 1px;
}

.inline {
	display: inline !important;
}

.demo {
	width: 100% !important;
}

/*********************/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	td{
		margin: 1px !important;
		padding: 1px !important;
		font-size: 30px;
		max-width: 50px;
	}

	.container{
		width: 100%;
	}
}

@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 1100px) {
	td{
		margin: 1px !important;
		padding: 1px !important;
		font-size: 60px;
		max-width: 100px;
	}

	.container{
		width: 100%;
	}
}